@*@model InventoryWebMock1.Models.Stock[]*@

@{
    ViewBag.Title = "Stock Window";
}

<div>
    <h2>@ViewBag.Title</h2>
    
    <div class="row">
        <h4>This should look like a table</h4>
        <h3>---------------------------------------</h3>
        <h3>Brand   |   ProductName |   InStock</h3>
        <h3>---------------------------------------</h3>
        <h4>Brand   |   ProductName |   InStock</h4>
        <h4>Brand   |   ProductName |   InStock</h4>
        <h4>Brand   |   ProductName |   InStock</h4>
        <h4>Brand   |   ProductName |   InStock</h4>
    </div>
</div>