@{
    Layout = null;
    var testScript = "<p>Crazy cool stuffs</p>";
    var things = new string[]
    {
        "Backgammon",
        "Chess",
        "Cards"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Hello View!</h1>
        <h3>@Html.Raw(testScript)</h3>

        @if (things.Length > 0)
        {
            <h4>Fun games:</h4>
            <ul>
                @foreach (var thing in things)
                {
                    <li>@thing</li>
                }
            </ul>
        }
    </div>
</body>
</html>
