@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>MVCplayground</h1>
    <p class="lead">I'll be using this as a way to start messing with MVC and C# \n Click the link below for some starter info:</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Does it work?</h2>
        <p>
            Yosh! It works great!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>

<button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>
