
@{
    ViewBag.Title = "Other...";
}

<h2>Sorry, you've landed on the wrong page. <br /> Here's a link to go back:</h2>

@Html.ActionLink("Back To Home", "Index", null, new { @class = "btn btn-info btn-lg btn-block" })
